.comment-text {
    margin-top: 6px;
    width: 88%;
    height: 39px;
}

.comment-button {
    background-color: rgba(229,45,109,1);
    color: #ffffff;
    margin-top: -39px;
    float: right;
    margin-right: 0px;
}

.pagination {
    display: flex;
    justify-content: center;
}
.page-item {
    list-style-type: none;
    float: left;
}
.page-link {
    padding: 0rem 0.9rem;
    color: #FFF;
    background: #222;
    border: 1px solid #eee;
    display: inline-block;
    height: 2.475rem;
    line-height: 2.475rem;
    vertical-align: top;
    margin-left: 0.25rem;
    min-width: 2.5rem;
}
